<div class="row">
	<div class="col-sm-8">
		<h3>Recent Posts</h3>
		
		{{#each blogPosts}}
		<div class="card card-blog">
			<img class="card-img-top" src="{{this.fields.photo.fields.file.url}}">
			<div class="card-body-blog blog-post">
				<h4 class="card-title-blog">{{this.fields.title}}</h4>
				<p class="card-text-blog">{{this.fields.bodyCopy}}</p>
			</div>
			<div class="card-footer text-muted">
				<div class="blog-footer-date">
					<span><span class="hidden-xs">Posted on </span>{{this.fields.friendlyDate}}</span>
					<a href="/blog/{{this.sys.id}}/{{this.fields.entrySlug}}" class="pull-right btn btn-primary btn-blog-home">Read More</a>
				</div>	
			</div>
		</div>
		{{/each}}
		
		 <!-- Pagination nav 
		 <nav aria-label="...">
		   <ul class="pager">
		     <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
		     <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
		   </ul>
		 </nav>
			 -->
	</div>
	
	<div class="col-sm-4 sidebar">
	     
		 <!--
		 <div class="card card-blog">
	       <h5 class="card-header">Search</h5>
	       <div class="card-body-blog">
	         <div class="input-group">
	           <input type="text" class="form-control" placeholder="Search for...">
	           <span class="input-group-btn">
	             <button class="btn btn-secondary" type="button">Go!</button>
	           </span>
	         </div>
	       </div>
	     </div>
	-->

	     <div class="card card-blog">
	       <h5 class="card-header">Tags</h5>
	       <div class="card-body-blog">
	         <div class="row">
	           <div class="col-xs-12">
	             <ul class="list-unstyled">
				   {{#each tags}}
				   <li>
					   {{this}}
	               </li>
				   {{/each}}
	             </ul>
	           </div>
	         </div>
	       </div>
	     </div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>Blog powered by: Contentful API and CMS, Handlebars.js, Node.js</p>
	</div>
</div>